<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <form th:action="@{/people/{id}(id=${person.getId()})}" th:method="PATCH" th:object="${person}" accept-charset="UTF-8">
                <input type="hidden" th:field="*{id}">
                <div>
                    <label for="fullname">Введите ФИО:</label>
                    <input type="text" required id="fullname" th:field="*{fullname}" > <!--th:value="${person.getName()}"-->
                    <p style="color: red" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></p>
                </div>
                <div>
                    <label for="birthyear">Введите год рождения::</label>
                    <input type="text" required id="birthyear" th:field="*{birthyear}" > <!--th:value="${person.getName()}"-->
                    <p style="color: red" th:if="${#fields.hasErrors('birthyear')}" th:errors="*{birthyear}"></p>
                </div>
                <div>
                    <input type="submit" value="Update!" >
                </div>
            </form>
        </div>

    </body>
</html>